﻿.jogadores {
    display: none;
    width : 20em;
    height : 20em;
    background-color : black;
    margin: auto;
}

.tabuleiro-damas {
    width : 41em;
    height : 41em;
    background-color : saddlebrown;
    margin: auto;
}

.tabuleiro-damas table {
    border : none;
}

.casa-negra{
    background-color : saddlebrown;
    width : 5em;
    height : 5em;
    margin : 0em;
}

.casa-negra #dama-branca {
    width: 6em;
    height: 6em;
    margin: -.5em .2em .2em -.4em;
    display: none;
}

.casa-negra #dama-negra {
    width: 6em;
    height: 6em;
    margin: -.5em .2em .2em -.4em;
    display: none;
}
.casa-negra #pedra-branca {
    width: 6em;
    height: 6em;
    margin: -.5em .2em .2em -.4em;
    display: none;
}

.casa-negra #pedra-negra {
    width: 6em;
    height: 6em;
    margin: -.5em .2em .2em -.4em;
    display: none;
}

.casa-branca{
    background-color : white;
    width : 5em;
    height : 5em;
    margin : 0em;
}

.painel {
    display: none;
    width : 20em;
    height : 20em;
    background-color : black;
    margin: auto;
}