﻿
@{
    ViewBag.Title = "Xadrez";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xadrez</h2>

<div class="jogadores">

</div>
<div class="tabuleiro-xadrez">

</div>
<div class="painel">

</div>